<div class="spinner-container" *ngIf="loader">
    <div
      class="spinner-grow text-primary"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="wrapper fadeInDown" style="margin-top: -150px" *ngIf="!loader">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img
          src="../../../../assets/img/user.png"
          id="icon"
          alt="User Icon"
        />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <input
          type="text"
          id="username"
          class="fadeIn third"
          name="login"
          formControlName="username"
          placeholder="Nombre de usuario"
        />
        <input
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          formControlName="email"
          placeholder="correo"
        />
        <input
          type="password"
          id="password"
          class="fadeIn third"
          name="login"
          formControlName="password"
          placeholder="contraseña"
        />
        <input type="submit" value="Enviar" class="btn btn-info" />
      </form>
    </div>
  </div>
  