<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <!-- Agrega cualquier CSS necesario aquí -->
</head>
<body>
    <div class="container">
        <label for="psw"><b>Nueva contraseña</b></label>
        <input type="password" id="password" placeholder="Ingresa la nueva contraseña" required>
        <button onclick="actualizarContraseña()">Actualizar contraseña</button>
    </div>
    
    <!-- Agrega cualquier JavaScript necesario aquí -->
    <script>
        function actualizarContraseña() {
            var Token = "<%= Token %>";
            var nuevaContraseña = document.getElementById("password").value;
            
            // Enviar una solicitud AJAX para actualizar la contraseña
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/api/actualizar-password/" + Token, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Contraseña recuperada!");
                } else if (xhr.readyState === 4 && xhr.status !== 200) {
                    alert("Hubo un error al actualizar la contraseña");
                }
            };
            xhr.send(JSON.stringify({ password: nuevaContraseña }));
        }
    </script>
</body>
</html>
