<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="spinner-container" *ngIf="loader">
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="wrapper fadeInDown" style="margin-top: -150px" *ngIf="!loader">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../../assets/img/user.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="email" placeholder="correo" />
        <input type="password" id="password" class="fadeIn third" name="login" formControlName="password"
          placeholder="contraseña" />
        <input type="submit" value="Enviar" class="btn btn-info" />
      </form>
      <form [formGroup]="aFormGroup">
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha">
        </ngx-recaptcha2>
      
      <div class="password-reset-container">
        <div class="forgot-password" > <a href="/restablecer">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </form>
    
  </div>
</div>