<div class="spinner-container" *ngIf="loader">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="containerBread" *ngIf="!loader">
    <a href="Inicio">Inicio</a> / <a href="VerProfesionales">Servicios</a> / Añadir
</div>
<div class="conteiner mt-5" *ngIf="!loader">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"></span>
                    <form [formGroup]="pacienteForm" (ngSubmit)="sendFiles()" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Nombre</label>
                                <input formControlName="nom" type="text" class="form-control" placeholder="Nombre" (input)="capitalizeFirstLetter('nom', $event)">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('nom')?.hasError('required') && pacienteForm.get('nom')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div *ngIf="pacienteForm.get('nom')?.hasError('pattern') && pacienteForm.get('nom')?.touched" class="text-danger">
                                    Nombre inválido.
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Apellido Paterno</label>
                                <input formControlName="apeP" type="text" class="form-control"
                                    placeholder="Apellido Paterno" (input)="capitalizeFirstLetter('apeP', $event)">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('apeP')?.hasError('required') && pacienteForm.get('apeP')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div *ngIf="pacienteForm.get('apeP')?.hasError('pattern') && pacienteForm.get('apeP')?.touched" class="text-danger">
                                    Apellido inválido.
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Apellido Materno</label>
                                <input formControlName="apeM" type="text" class="form-control"
                                    placeholder="Apellido Materno" (input)="capitalizeFirstLetter('apeM', $event)">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('apeM')?.hasError('required') && pacienteForm.get('apeM')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div *ngIf="pacienteForm.get('apeM')?.hasError('pattern') && pacienteForm.get('apeM')?.touched" class="text-danger">
                                    Apellido inválido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Calle</label>
                            <input formControlName="calle" type="text" class="form-control" (input)="capitalizeFirstLetter('calle', $event)">
                            <div class="text-danger"
                                *ngIf="pacienteForm.get('calle')?.hasError('required') && pacienteForm.get('calle')?.touched">
                                <span>Este campo es <strong>obligatorio</strong></span>
                            </div>
                            <div *ngIf="pacienteForm.get('calle')?.hasError('pattern') && pacienteForm.get('calle')?.touched" class="text-danger">
                                La calle solo debe contener letras.
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Numero</label>
                                <input formControlName="no" type="number" class="form-control" placeholder="118">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('no')?.hasError('required') && pacienteForm.get('no')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Colonia</label>
                                <input formControlName="col" type="text" class="form-control" placeholder="" (input)="capitalizeFirstLetter('col', $event)">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('col')?.hasError('required') && pacienteForm.get('col')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div *ngIf="pacienteForm.get('col')?.hasError('pattern') && pacienteForm.get('col')?.touched" class="text-danger">
                                    La colonia solo debe contener letras.
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ciudad</label>
                                <select formControlName="ciudad" id="inputState" class="form-control" (input)="capitalizeFirstLetter('ciudad', $event)">
                                    <option value="" disabled selected>Selecciona una ciudad</option>
                                    <option *ngFor="let ciudad of listCiudad"> {{ciudad.nom}} </option>
                                </select>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('ciudad')?.hasError('required') && pacienteForm.get('ciudad')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código Postal</label>
                                <input formControlName="cp" type="number" class="form-control" placeholder="37800">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('cp')?.hasError('required') && pacienteForm.get('cp')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('cp')?.hasError('pattern') && pacienteForm.get('cp')?.touched">
                                    <span>El código postal debe ser sólo 5 dígitos</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Número de teléfono de casa</label>
                                <input formControlName="numTelCa" type="text" class="form-control">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelCa')?.hasError('required') && pacienteForm.get('numTelCa')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelCa')?.hasError('pattern') && pacienteForm.get('numTelCa')?.touched">
                                    <span>El número de teléfono debe tener 10 dígitos y solo números</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Número de teléfono</label>
                                <input formControlName="numTelAsp" type="text" class="form-control">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelAsp')?.hasError('required') && pacienteForm.get('numTelAsp')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelAsp')?.hasError('pattern') && pacienteForm.get('numTelAsp')?.touched">
                                    <span>El número de teléfono debe tener 10 dígitos y solo números</span>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Otro número de teléfono</label>
                                <input formControlName="numTelMaPa" type="text" class="form-control" id="inputZip">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelMaPa')?.hasError('required') && pacienteForm.get('numTelMaPa')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('numTelMaPa')?.hasError('pattern') && pacienteForm.get('numTelMaPa')?.touched">
                                    <span>El número de teléfono debe tener 10 dígitos y solo números</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input formControlName="mail" type="email" class="form-control">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('mail')?.hasError('required') && pacienteForm.get('mail')?.touched">
                                    <span>Este campo es <strong>obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('mail')?.hasError('email') && pacienteForm.get('mail')?.touched">
                                    <span>Por favor, introduce un correo electrónico válido</span>
                                </div>
                            </div>
                        </div>
                        <textarea placeholder="Comentarios" formControlName="coment"
                            style="width: 100%; height: 250px; max-width: 100%; max-height: 250px; overflow: auto;"></textarea>

                        <div class="form-row">
                            <div class="mb-3">
                                <label for="foto" class="form-label">Foto</label>
                                <input class="form-control" type="file" id="foto" (change)="getFile($event, 'foto')">
                            </div>
                            <div class="mb-3">
                                <label for="cert" class="form-label">Certificado</label>
                                <input class="form-control" type="file" id="cert" (change)="getFile($event, 'cert')">
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" *ngIf="!pacienteForm.hasError('required')"
                                class="btn btn-primary btn-lg float-end">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>